name: Ruby CI

on:
  push:
    branches:

env:
  CI: true
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    strategy:
      matrix:
        ruby-version: [3.1, 3.2, 3.3, 3.4]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
    - name: Install dependencies
      run: bundle install
    - name: Rubocop Check
      run: bundle exec rubocop
    - name: Run all tests
      run: bundle exec rake test
      shell: bash
    - name: Run example_app
      run: bundle exec ruby example_app.rb
      shell: bash
